{% extends "layout.html" %}

{% from "macros.html" import tag_form %}

{% set active_page = "members" %}
{% set active_sub = "filter" %}

{% set title = "Intranät" %}

{% block main %}
<p>Quick links:
<a href="{{ url_for(
              'members.member_matrix',
              columns=['Sånggrupp 1', 'Sånggrupp 2', 'Sånggrupp 3'],
              rows=['Sopran 1', 'Sopran 2', 'Alt 1', 'Alt 2', 'Tenor 1', 'Tenor 2', 'Bas 1', 'Bas 2']
              ) }}">Singing groups</a></p>

<form method="POST">
  {{ form.csrf_token }}

  <h2>Columns</h2>
  {{ tag_form(form.col_form, "col-form") }}

  <h2>Rows (optional)</h2>
  {{ tag_form(form.row_form, "row-form") }}

  <div class="field">
    <input type=submit value="Submit">
  </div>
</form>
{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename='js/tag_filter.js') }}"></script>
{% endblock %}
