{% extends "base.html" %}

{% set navigation_bar = [
(url_for('intranet.index'), 'intranet', 'Intranät'),
(url_for('members.voices'), 'members', 'Medlemmar'),
(url_for('profile.member', id=current_user.id), 'member', 'Profil'),
] %}

{% if current_user.has_tag('Webmaster', 'PRoletär') %}
{% do navigation_bar.append((url_for('admin.admin'), 'admin', 'Administration')) %}
{% endif %}

{% block head %}
{{ super() }}
{% assets 'intranet_css' %}
<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}
