<div class="table markdown-key">
  <table>
    <tr>
      <th>Markdown syntax</th>
      <th>Result</th>
    </tr>
    <tr>
      <td><code>_Italics_</code> or <code>*Italics*</code></td>
      <td><em>Italics</em> (emphasis)</td>
    </tr>
    <tr>
      <td><code>**Bold**</code> or <code>__Bold__</code></td>
      <td><strong>Bold</strong> (strong)</td>
    </tr>
    <tr>
      <td><code>**_Bold italics_**</code></td>
      <td><strong><em>Blod italics</em></strong></td>
    </tr>
    <tr>
      <td><code>[A link](https://www.example.com)</code></td>
      <td><a href="https://www.example.com/">A link</a></td>
    </tr>
    <tr>
      <td><code># Heading</code></td>
      <td><h1>Level 1 heading</h1></td>
    </tr>
    <tr>
      <td><code>## Heading</code></td>
      <td><h2>Level 2 heading</h2></td>
    </tr>
    <tr>
      <td><code>### Heading</code></td>
      <td><h3>Level 3 heading</h3></td>
    </tr>
  </table>
</div>
