{% extends "admin/admin.html" %}

{% from "macros.html" import img, text_field %}

{% set active_page = "admin" %}
{% set active_sub = "events" %}

{% set title = "Edit event" %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='css/lib/flatpickr.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

<h2>Edit event</h2>
<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}

  {{ text_field(form.title) }}

  <div class="field post-content">
    <label for="content_sv">Swedish</label>
    {{ form.content_sv }}
  </div>

  <div class="field post-content">
    <label for="readmore_sv">Swedish "Read more" (optional)</label>
    {{ form.readmore_sv }}
  </div>

  <div class="field post-content">
    <label for="content_en">English (optional)</label>
    {{ form.content_en }}
  </div>

  <div class="field post-content">
    <label for="readmore_en">English "Read more" (optional)</label>
    {{ form.readmore_en }}
  </div>

  {% include 'components/markdown-key.html' %}

  {{ text_field(form.start_time, placeholder='YYYY-MM-DD hh:mm') }}

  {{ text_field(form.location) }}

  <p>Current image: {% if event and event.image %}</p><img class="image-preview" src={{ event.image_path }}>{% else %}None</p>{% endif %}

  <div class="field">
    <label for="upload">Upload new image:</label>
    {{ form.upload }}
  </div>

  <div class="field">
    {{ form.published }}
    {{ form.published.label }}
  </div>

  <div class="field">
    <input type=submit value="Submit">
  </div>
</form>
{% if event %}
<p>
<a id="remove" href="{{ url_for('admin.remove_event', event_id=event.id, slug=event.slug) }}">Remove event</a>
</p>
{% endif %}

{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename='js/lib/flatpickr.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/init_flatpickr.js') }}"></script>
<script src="{{ url_for('static', filename='js/toggle_markdown_key.js') }}"></script>

{% if event %}
<script src="{{ url_for('static', filename='js/confirm_remove_post.js') }}"></script>
{% endif %}

{% endblock %}
