Hello!

Please follow the link to verify this email address:
{{ link }}

If you didn't register this email address, someone else must have entered it in
error, and we apoligise. You can ignore this email.

-- 
teknologkoren.se
