Hello, {{ name }}!

Here is your password reset link:
{{ link }}

If you didn't request a password reset, someone else must have for some
reason, and you can ignore this email.

-- 
FerNET
fernet.teknologkoren.se
