/* palette: http://paletton.com/palette.php?uid=73C2b0kpczF5YXuhyJVv-q5G7dw */

@font-face {
    font-family: "EB Garamond";
    src: url('/static/fonts/ebgaramond/EBGaramond12-Regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url('/static/fonts/lato/LatoLatin-Black.woff2') format('woff2'),
         url('/static/fonts/lato/LatoLatin-Black.woff') format('woff');
    font-weight: 900;
}

* {
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word; /* legacy */
    word-break: break-word; /* for WebKit/Chrome */
}

body {
    line-height: 1.6;
    overflow-y: scroll;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "EB Garamond", serif;
}

h1, h2, h3 {
    font-family: "Lato", sans-serif;
}

#container {
    flex: 1;
    display: grid;
    align-content: start;
    justify-items: center;
    grid-template-columns: 1fr minmax(0, 35rem) 1fr;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.pageheader {
    grid-column: 1/-1;
    padding-top: 1rem;
    max-width: 36rem;
    font-size: 1.1rem;
    justify-self: center;
    margin-bottom: .5rem;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem 1rem 1rem;
    padding-top: 1rem;
    border-top: 1px solid #ddd;
}

footer #intranet {
    color: #bbb;
    position: absolute;
    right: 3rem;
}

#footer-img {
    max-width: 3rem;
}

a {
    color: #316bb1;
    text-decoration:  none;
}
a:hover {
    color: #000;
}

.inverted-link {
    color: #000
}
.inverted-link:hover {
    color: #316bb1;
}

article h1 {
    margin: 0;
}

article > header, article > h1 {
    margin: 1rem 0;
}

.first-main-header {
    margin-top: 0;
}

.content {
    grid-column: 2;
    margin: 1rem 1rem;
    justify-self: stretch;
}

.overflowing-content {
    /* If .content has an overflowing child, the child of grid must set
     * min-width: 0; and max-width: 100%;. Wrap .content with a
     * div.overflowing-content.
     */
    grid-column: 2;
    min-width: 0;
    max-width: 100%;
}

.overview {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    margin: 1rem 1rem;
    justify-self: stretch;
}

.overview article~article {
    border-top: 1px solid #ddd;
}

.secondary {
    grid-column: 1/-1;
    margin: 1rem;
    border-top: 1px solid #ddd;
    text-align: center;
    justify-self: stretch;
}

.secondary ul {
    list-style: none;
    padding-left: 0;
}

.secondary h1 {
    font-size: 1.7em;
    margin-top: 0.3rem;
}

.cover-image {
    width: 100%;
    margin-top: 1.5rem;
    grid-column: 1/-1;
}

.post-image {
    border-radius: 7px;
    overflow: hidden;
    vertical-align: middle;
    width: 100%
}

.event-image {
    float: right;
    width: 25%;
    margin: 0 0 0.8rem 1rem;
    min-width: 5rem;
}

.event-detail {
    padding: 0.5rem 1rem;
    border: solid 1px #ddd;
    border-radius: 7px;
    clear: both;
}

.truncate {
    max-height: 20rem;
    object-fit: cover;
}

.logo {
    text-align: center;
    margin: 0 .5rem;
}

.logo img {
    max-height: 100px;
}

.logo-text h1 {
    margin: 0;
    font-family: "EB Garamond", serif;
    font-size: 2.2em;
    font-weight: normal;
}

.logo .tagline {
    margin: 0;
}

.nav {
    margin-top: 1rem;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nav li {
    margin: .2rem 1rem;
}
.nav .active,
.sub-nav .active {
    text-decoration: underline;
    color: #316bb1;
}

.sub-nav {
    grid-column: 2;
    margin-top: 1.5rem;
    text-align: center;
    justify-self: center;
}

.sub-nav ul {
    list-style: none;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
    border-radius: 7px;
    border: 1px solid #ddd;
}

.pager {
    display: flex;
}
.pager a {
    text-decoration: none;
}
.pager .newer {
    margin-left: auto;
}

.nowrap {
    white-space: nowrap;
}

.pubdate {
    font-size: .95em;
}

address {
    font-style: normal;
}

.postal-address {
    text-align: center;
    font-style: italic;
}

.table {
    overflow-x: auto;
    border-radius: 7px;
    background-color: #f3f3f3;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    white-space: nowrap;
    height: 2rem;
    padding: 0 10px 0 10px;
}

.field {
    display: block;
    margin: 20px 0;
}

.text-field {
    display: flex;
}

.field-description {
    padding-left: 10px;
    font-size: 0.85em;
}

.flashes {
    grid-column: 2;
    text-align: center;
    list-style: none;
    margin: .5rem 1rem;
    padding: 0;
}
.flash {
    padding: .5rem 1rem;
    margin: .5rem auto;
    border-radius: 7px;
}
.success {
    background-color: #C9F7DD;
    border: 1px solid #62D895;
    color: #004D21;
}
.info {
    background-color: #CBDEF5;
    border: 1px solid #6797D0;
    color: #042246;
}
.error {
    background-color: #FFD9D0;
    border: 1px solid #FF9073;
    color: #6C1600;
}

.member-list, .member-list ul {
    list-style: none;
}

.member-matrix th,
.member-matrix td {
    border: 1px solid #ddd;
}

.member-matrix tr:first-child th {
    border-top: 0;
}
.member-matrix tr th:last-child,
.member-matrix tr td:last-child {
    border-right: 0;
}
.member-matrix tr:last-child th,
.member-matrix tr:last-child td {
    border-bottom: 0;
}
.member-matrix tr th:first-child,
.member-matrix tr td:first-child {
    border-left: 0;
}

.matrix-data {
    display: block;
}

.tag-set {
    border-radius: 5px;
    padding: 10px 0 0 15px;
}
#tag-filter {
    margin-bottom: 10px;
}
.tags {
    overflow: auto;
    height: 15rem;
}

@media screen and (min-width: 32rem) {
    .logo img,
    .logo-text {
        display: inline-block;
        vertical-align: middle;
    }

    .logo-text {
        text-align: left;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 34rem) {
    .nav ul {
        justify-content: space-between;
    }
}

@media screen and (min-width: 62rem) {
    .sub-nav {
        grid-column: 1;
        justify-self: right;
        margin-right: 1rem;
        margin-left: 1rem;
        text-align: left;
        align-self: start;
    }

    .secondary {
        grid-column: 3;
        text-align: left;
        padding: 1rem;
        margin: 2rem 0 0 2rem;
        border: 1px solid #ddd;
        border-radius: 7px;
        justify-self: left;
        align-self: start;
    }

    .secondary ul {
        margin: 0;
    }

    .secondary h1 {
        margin-top: 0;
    }
}

@media screen and (min-width: 77rem) {
    .cover-image {
        width: 75rem;
        justify-self: center;
        border-radius: 10px;
    }
}

@media screen and (max-width: 28rem) {
    /* FIXME */
    .text-field {
        flex-direction: column-reverse;
    }

    .field-description {
        padding-left: 0;
    }
    .field-description:before {
        content: "- ";
    }
}
