/* new style */

* {
    /* General fixes */
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word; /* legacy */
    word-break: break-word; /* for WebKit/Chrome */
}

#container > * {
    /* Fixes overflowing content (anything other than "overflow: visible")
     * in grid. Won't overflow without this. */
    min-width: 0;
    max-width: 100%;
}

img {
    /* Fixes to make images behave */
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: 'sans-serif';
    line-height: 1.4;
    min-height: 100vh;
    background-color: #fafafa;
}

#container {
    height: 100vh;
    display: grid;
    align-content: start;
    align-items: start;
}

.pageheader {
    text-align: center;
    height: 3rem;
    padding: .5rem;
    background-color: #222;
    color: #316bb1;
}

.pageheader img {
    display: inline-block;
    margin-right: .5rem;
}

.pageheader h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 1.4em;
}

.nav {
    text-align: center;
    background-color: #222;
}

.nav a {
    color: #eee;
}

.nav ul {
    list-style: none;
    margin: 0 1.5rem;
    padding: 0;
}

.nav li {
    padding: 0.5rem 0;
}

nav .active {
    text-decoration: none;
    color: #316bb1;
}

.sub-nav {
    margin: 0 auto;
    margin-top: .5rem;
    border: 1px solid #555;
    border-radius: 7px;
    background-color: #3c3c3c;
}

.content {
    margin: 1rem;
}

.tag-set {
    border-radius: 5px;
    padding: 10px 0 0 15px;
}

#tag-filter {
    margin-bottom: 10px;
}


footer {
    height: 5rem;
    margin: 1rem 0;
    text-align: center;
}

.table {
    overflow-x: auto;
    border-radius: 7px;
    background-color: #eee;
    border: 1px solid #ddd;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    text-align: left;
    height: 2rem;
    padding: 2px 10px 2px 10px;
}

.table tr {
    border-bottom: 1px solid #ddd;
}

.table tr:last-child {
    border-bottom: none;
}

.score-table,
.member-matrix {
    max-width: 70rem;
}

.score-comment,
.score-name {
    min-width: 15rem;
}

.markdown-key {
    max-width: 40rem;
    white-space: nowrap;
    font-size: .8em;
}

.markdown-key h1, h2, h3 {
    margin: .5rem 0;
}

.tag-set {
    max-width: 40em;
}

.field,
.tag-set {
    margin: 1rem 0;
}

.field {
    display: block;
    margin: 20px 0;
}

.text-field {
    display: flex;
}

.field > label:first-child {
    display: block;
}

.field-description {
    padding-left: 10px;
    font-size: 0.85em;
}

.image-preview {
    max-width: 20em;
    max-height: 20em;
}

.auth-wrap {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.flashes {
    align-self: center;
    text-align: center;
    list-style: none;
    margin: .5rem 1rem;
    padding: 0;
}
.flash {
    min-width: 15em;
    padding: .5rem 1rem;
    margin: .5rem auto;
    border-radius: 7px;
}
.success {
    background-color: #C9F7DD;
    border: 1px solid #62D895;
    color: #004D21;
}
.info {
    background-color: #CBDEF5;
    border: 1px solid #6797D0;
    color: #042246;
}
.error {
    background-color: #FFD9D0;
    border: 1px solid #FF9073;
    color: #6C1600;
}

.member-list, .member-list ul {
    list-style: none;
}

.member-matrix th,
.member-matrix td {
    border: 1px solid #ddd;
    white-space: nowrap;
}

.member-matrix tr:first-child th {
    border-top: 0;
}
.member-matrix tr th:last-child,
.member-matrix tr td:last-child {
    border-right: 0;
}
.member-matrix tr:last-child th,
.member-matrix tr:last-child td {
    border-bottom: 0;
}
.member-matrix tr th:first-child,
.member-matrix tr td:first-child {
    border-left: 0;
}

.matrix-data {
    display: block;
}

#tag-filter {
    margin-bottom: 10px;
}
.tags {
    overflow: auto;
    height: 15rem;
}

.post-content textarea {
    max-width: 100%;
    height: 15em;
    width: 30em;
}

@media screen and (min-width: 45em) {
    #container {
        grid-template: "head head" 3rem
                       "nav  main" 1fr
                       / 13rem 1fr;
    }

    .pageheader {
        grid-area: head;
        height: 100%;
        text-align: left;
        padding-left: 1rem;
    }

    .nav {
        grid-area: nav;
        text-align: left;
        height: 100%;
        border-right: 1px solid #ddd;
    }

    .flashes {
        grid-area: main;
    }

    .content {
        grid-area: main;
        margin: 1rem;
    }
}

@media screen and (max-width: 28em) {
    .text-field {
        flex-direction: column-reverse;
    }

    .field-description {
        padding-left: 0;
    }
    .field-description:before {
        content: "- ";
    }
}
